---
---

@import "{{ site.theme }}";

$font-stack:    "Adobe Garamond Pro", Garamond, Palatino, "Palatino Linotype", Times, "Times New Roman", Georgia, serif;
$primary-color:     color: #6a15779;

a {
  font: 100% $font-stack;
  color: $primary-color;
}
